body {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #2f3542;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
* {box-sizing: border-box;}

.ui-sortable {
  min-height: 80px;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px!important;
  height: 22px!important;
  border: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
}
/* BOARD */
.board {
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.board h1 {
  margin-left: 8px;
}
.board h2 {
  margin: 0;
}
.board button {
  width: 150px;
  height: 30px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #484848;
  cursor: pointer;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}


/* COLUMN */
.column {
  padding: 15px;
  min-width: 300px;
  min-height: 50vh;
  background-color: #747d8c;
  margin-left: 8px;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.column-add-card {
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 8px;
  display: block;
}

/* CARD */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 16px;
  overflow: hidden;
  position: relative;
  background-color: #2f3542;
  min-width: 250px;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0;
}
.column-card-list {
  padding: 0;
}
ul > li {
  list-style: none;
}
.card-description {
  margin: 2px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
